body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    padding-top: 10px; /* Adjust padding as needed */
}

#viz {
    border: 1px solid lightgray;
    height: 100%; /* Ensure the height is consistent */
}